<!DOCTYPE html>
<head>
   <title>Quadruped Status</title>
</head>

<body>

   <h1>Humanoid Control</h1>
   <a href="/walkForward">Walk Forward</a>
   <a href="/armHome">Arms Home</a>
   <a href="/stand">Stand</a>
   <br> 
   <a href="/turnLeft">Turn Left</a>
   <a href="/turnRight">Turn Right</a>
   <br>
   <a href="/openLeftClaw">LeftClaw: Open</a>
   <a href="/openRightClaw">RightClaw: Open</a>
   <br>
   <a href="/closeLeftClaw">LeftClaw: Close</a>
   <a href="/closeRightClaw">Right Claw: Close</a>
   <br>
   <a href="/turnLeftWristRight">Left Wrist: Turn Right</a>
   <a href="/turnRightWristRight">Right Wrist: Turn Right</a>
   <br>
   <a href="/turnLeftWristLeft">Left Wrist: Turn Left</a>
   <a href="/turnRightWristLeft">Right Wrist: Turn Left</a>
   <br>
   <a href="/openLeftElbow">Left Elbow: Open</a>
   <a href="/openRightElbow">Right Elbow: Open</a>
   <br>
   <a href="/closeLeftElbow">Left Elbow: Close</a>
   <a href="/closeRightElbow">Right Elbow: Close</a>
   <br>
   <a href="/raiseLeftShoulder">Left Shoulder: Raise</a>
   <a href="/raiseRightShoulder">RightShoulder: Raise</a>
   <br>
   <a href="/midRaiseLeftShoulder">Left Shoulder: Mid Raise</a>
   <a href="/midRaiseRightShoulder">Right Shoulder: Mid Raise</a>
   <br>
   <a href="/lowerLeftShoulder">Left Shoulder: Lower</a>
   <a href="/lowerRightShoulder">Right Shoulder: Lower</a>
   <br>
   <!-- right side -->
   <a href="/TPose">T-Pose</a>
   <a href="/pushUp">PUSH UP</a>
   <br>
   <a href="/dab">DAB</a>
   <a href="/dance">dance</a>

   {% if message %}
   <h2>Current Command: </h2>
   <h2>{{ message }}</h2>
   {% endif %}

</body>
</html>
