<!DOCTYPE html>
<head>
   <title>Quadruped Status</title>
</head>

<body>

   <h1>Humanoid Control</h1>
   <a href="/walkForward">Walk Forward</a>
   <a href="/turnLeft">Turn Left</a>
   <a href="/turnRight">Turn Right</a>
   <br>
   <a href="/stand">Stand</a>
   <a href="/disable">Disable Servos</a>
   <br>
   <a href="/openLeftClaw">openLeftClaw</a>
   <a href="/closeLeftClaw">closeLeftClaw</a>
   <br>
   <a href="/turnLeftWristRight">turnLeftWristRight</a>
   <a href="/turnLeftWristLeft">turnLeftWristLeft</a>
   <br>
   <a href="/openLeftElbow">openLeftElbow</a>
   <a href="/closeLeftElbow">closeLeftElbow</a>
   <br>
   <a href="/raiseLeftShoulder">raiseLeftShoulder</a>
   <a href="/midRaiseLeftShoulder">midRaiseLeftShoulder</a>
   <a href="/lowerLeftShoulder">lowerLeftShoulder</a>

   <!-- right side -->
   <a href="/openRightClaw">openRightClaw</a>
   <a href="/closeRightClaw">closeRightClaw</a>
   <br>
   <a href="/turnRightWristRight">turnRightWristRight</a>
   <a href="/turnRightWristLeft">turnRightWristLeft</a>
   <br>
   <a href="/openRightElbow">openRightElbow</a>
   <a href="/closeRightElbow">closeRightElbow</a>
   <br>
   <a href="/raiseRightShoulder">raiseRightShoulder</a>
   <a href="/midRaiseRightShoulder">midRaiseLeftShoulder</a>
   <a href="/lowerRightShoulder">lowerLeftShoulder</a>




   


 
   

   {% if message %}
   <h2>Current Command: </h2>
   <h2>{{ message }}</h2>
   {% endif %}

</body>
</html>
